.importato {
	background-color: rgb(128, 255, 128);
}

.non-importato {
	background-color: rgb(255, 128, 128);
}

/*.table td,*/
/*.table th {*/
/*	vertical-align: middle;*/
/*	text-align: center;*/
/*}*/

/*.table .loading {*/
/*	font-style: italic;*/
/*	color: grey;*/
/*}*/

.table-container {
	height: 70vh;
	padding: 2rem;
}

/*.sticky-header {*/
/*	position: sticky;*/
/*	top: 0;*/
/*	z-index: 100;*/
/*	background-color: #343a40;*/
/*	 Optional: background color for sticky header */
/*}*/